<p>
  <strong>Rating:</strong>
  <%= rating.waifu_rating %>
</p>

<p>
  <%= link_to 'Destroy Rating', [rating.waifu, rating],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
